@page "/Checkout"
@using StoreApp.Shared.Interfaces
@using StoreApp.Shared.Dtos.ProductDtos
@using StoreApp.Shared.Dtos.UserDtos
@rendermode InteractiveServer
@inject IProductService<ProductDto> ProductService
@inject IUserService<UserDto> UserService

<PageTitle>Customer Checkout</PageTitle>

<h3>Checkout</h3>

@code {
    
}